@charset "UTF-8";

.popup {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  font-size: 10px;
  overflow-wrap: break-word;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 10%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}